
@font-face {
    font-family: 'Romanesco';
    src: url('fonts/Romanesco-Regular.ttf') format('truetype');
  }

  .inicio h1{
    font-family: "Romanesco", sans-serif;
    font-weight: normal;
    font-size: 96px;
  }


header ul li, .barraReserva, footer .options-footer a, footer .redes a{
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
}


.options-text, section div p, .socios article div ul li {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.barraReserva input {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    color: #9E9A9A;
    font-size: 16px;
}

.socios article div h2{
    font-family: "Inter", sans-serif;
    font-weight:700;
    font-size: 48px;
}


section div h2, .portada h2, section div a, section div span, .socios h1, .socios article div a{
    font-family: "Inter", sans-serif;
    font-weight:600;
    font-size: 32px;
}



header a:hover, footer .options-footer ul li a:hover, footer .redes a:hover{
    color: #FFFF00;
    
  }

section div a:hover, .socios article div a:hover {
    background-color: #384001;
}

  body {
    margin: 0;
    padding: 0;
  }


header {
    background-color: #A3A656;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 70px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header a {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}
  
.header-options{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0%;
}

.header-options img {
    width: 40px;
    margin-right: 10px;
}

.options-text{
    margin-block-end:0px;
}

#botton-change-language {
    width: 10px;
    height: 10px;
  }


.inicio {
    margin:0;
    position: relative;
    background-image: url(images/main.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

.inicio h1 {
    position: absolute;
    top: 11%;
    left: 14%;
}

.inicio h2 {
    position: absolute;
    top: 40%;
    left: 14%;
}

.barraReserva{
    position: relative;
    background-color: #F2F6F6;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.barraReserva input, .barraReserva span{
    margin-right: 20px;
}

.barraReserva input {
    height: 40px;
    border: none; 
    background-color: #FFFFFF; 
    border-radius: 10px; 
    padding: 10px; 
  }


section{
    position: relative;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
section div {
    position: relative;
    width: 300px;
    margin-left: 134px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}

section div:first-child{
    margin-left: 0;
}

section div h2{
    margin-top: 0;
    height: 80px;
    background-color: #A3A656;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0px;
}
section div img {
    width: 100%;
    height: auto;
}

section div a{
    position: absolute;
    right: 0px;
    display: inline-block;
    background-color: #A3A656;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 12px;
    text-transform: uppercase;

}



.socios {
    background-color: #F2F6F6;
    display: flex;
    flex-direction: column;
    height: 770px;
    margin-top: 0px;
    text-align: center;
    align-items: center;
}

.socios h1{
    display: block;
    font-size: 28px;
    margin-top: 40px;
}



.socios article {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.socios article div {
    width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.socios article div .c1 {
    width: 200px;
    height: 200px;
    border: 8px solid #384001;
    border-radius: 50%;
    display:inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.socios article div .c1 img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.socios article div a{

    background-color: #A3A656;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    width: 50%;
    height: 25px;
    justify-content: center;
    align-items: center;
    
}

.socios article div h2{
    margin-top: 10px;
    font-size: 28px;
    text-transform: uppercase;
}

.socios article div ul li{
    text-align: left;
}

.socios article div ul li:first-child{
    margin-top: 10px;
}


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 97px;
    margin-left: 0;
    background-color: #384001;
}

.options-footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.options-footer ul li {
    justify-content: center;
    margin-right: 85px;
}
.options-footer ul li a, footer .redes a{
    color: #A3A656;
    text-decoration: none;
    font-size: 14px;
}

.redes {
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
}

.redes ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.redes ul img{
    margin-right: 30px ;
}
.redes ul a {
    display:flex;
    flex-direction: row;
    margin-right: 20px;

}



